html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif
}

body {
  margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block
}

* {
  letter-spacing: 0 !important
}

.extended-diacritics-language {
  line-height: 1.4
}

.fill-container {
  height: 100%;
  width: 100%
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px
}

.visually-hidden {
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important
}

/* Ajouter profile icon */
@font-face {
  font-family: nf-icon;
  font-style: normal;
  font-weight: 400;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot);
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.eot?#iefix) format("embedded-opentype"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff) format("woff"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.ttf) format("truetype"), url(https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.svg#nf-icon-v1-93) format("svg")
}

[class*=" icon-"],
[class^=icon-] {
  speak: none;
  font-family: nf-icon;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  transform: translateZ(0)
}

.icon-logoUpdate:before {
  content: "\e5d0"
}


.icon-tvuiAdd:before {
  content: "\e716"
}


.nfdclose {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 30px
}


/* Centrage dans la page */
.body-profiles-gate-overflow {
  overflow-x: hidden
}

.profiles-gate-container {
  background: #141414;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 0
}

.profiles-gate-container .centered-div {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100
}

.profiles-gate-container--scroll {
  position: static
}

.profiles-gate-container .centered-div.list-profiles-container:not(.js-transition-node) {
  animation: animateProfileGate .45s forwards
}

.profiles-gate-container .centered-div.loading-wrapper {
  opacity: 1
}

/* Gestion de nom des profils */
@media screen and (max-width:400px) {
  .profiles-gate-container {
    max-width: none
  }
}

.profiles-gate-container ul {
  padding: 0
}

.profiles-gate-container .avatar-container {
  padding: 5px
}

.profiles-gate-container .profile-icon {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  position: relative;
  text-decoration: none;
  width: 10vw
}

.profiles-gate-container .profile-icon:after {
  border: .3em solid transparent;
  border-radius: 4px;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.profiles-gate-container .activeProfile {
  border-color: #e5e5e5
}

.profiles-gate-container .profile-edit-mode {
  opacity: .5
}

.profiles-gate-container .profile-name {
  color: grey;
  display: block;
  font-size: 1.3vw;
  line-height: 1.2em;
  margin: .6em 0;
  min-height: 1.8em;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis
}
@media screen and (min-width:1666px) {
  .profiles-gate-container .profile-name {
    font-size: 24px
  }
}

@media screen and (max-width:800px) {
  .profiles-gate-container .profile-name {
    font-size: 12px
  }
}

/* Gestion de l'emplacement profil */
.profiles-gate-container li {
  display: inline-block;
  position: relative;
  vertical-align: top
}

.profiles-gate-container li.profile {
  max-width: 200px;
  min-width: 84px;
  width: 10vw
}

.profiles-gate-container li.profile:not(:last-child) {
  margin: 0 2vw 0 0
}

.profiles-gate-container li a {
  text-decoration: none
}

/* Gestion du button ajouter profil */
.profiles-gate-container .addProfileIcon {
  align-items: center;
  color: grey;
  display: flex;
  font-size: 5vw;
  height: 10vw;
  justify-content: center;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  text-align: center;
  text-decoration: none;
  width: 10vw
}


/* Gestion du button gére les profils */
.profile-button {
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  cursor: pointer;
  display: block;
  font-size: 1.2vw;
  letter-spacing: 2px;
  margin: 2em 0 1em;
  padding: .5em 1.5em
}

@media screen and (max-width:800px) {


  .profile-button {
    font-size: 13px
  }
}

.profile-button:focus,
.profile-button:hover {
  border: 1px solid #fff;
  color: #fff
}

.profile-button.preferred-action {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
  font-weight: 500
}

.profile-button.preferred-action.preferred-active,
.profile-button.preferred-action:focus,
.profile-button.preferred-action:hover {
  background: #c00;
  border: 1px solid #c00;
  color: #fff
}



/* gestion de la liste des profiles */
.list-profiles {
  max-width: 80%
}


/*  Style titre */
.list-profiles .profile-gate-label {
  color: #fff;
  font-size: 3.5vw;
  font-weight: unset;
  width: 100%
}